<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Admisson Form</title>
  <link href="/static/admitForm/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/admitForm/favicon.ico" rel="icon" type="image/x-icon">
  <meta name="viewport" content="width=device-width,  
                                     initial-scale=1.0,  
                                     maximum-scale=1.0,  
                                     user-scalable=no"> 
 <meta name="author" content="Akash Gaurav">

  
  <script language="javascript">

  function validateInput(){
  	var errorIn = "none";

  	var name      = document.getElementById("name").value;
  	var email     = document.getElementById("email").value;
  	var address   = document.getElementById("address").value;
  	var age       = document.getElementById("age").value;
  	var mobile    = document.getElementById("mobile").value;
  	var boardX    = document.getElementById("boardX").value;
  	var streamX   = document.getElementById("streamX").value;
  	var boardXII  = document.getElementById("boardXII").value;
  	var streamXII = document.getElementById("streamXII").value;
  	var college   = document.getElementById("college").value;
  	var course    = document.getElementById("course").value;

  	if(name==='')  		    	{errorIn = "name"}  		
  	else if(age==='')  			{errorIn = "age"}  		
  	else if(mobile==='')  		{errorIn = "mobile"}  			
  	else if(email==='')  		{errorIn = "email"}  		
  	else if(address==='')  		{errorIn = "address"} 		
  	else if(boardX==='')  		{errorIn = "boardX"} 		
  	else if(boardXII==='')  	{errorIn = "boardXII"}  		
  	else if(streamX==='')  		{errorIn = "streamX"}  		
  	else if(streamXII==='')  	{errorIn = "streamXII"} 	
  	else if(college==='')  		{errorIn = "college"}  	
  	else if(course==='')  		{errorIn = "course"} 		
  	
  	
  	// if gender isn't selected
  	else if(!document.getElementById("male").checked && !document.getElementById("female").checked) {
  		errorIn = "gender"
  	} 

  	else if(age.value<18 || age.value>60) {
  		errorIn = "age"
  	}
  	

  	else if (mobile.value<7000000000 || mobile.value>9999999999) {
  		errorIn = "mobile"
  	}
  	
  	if (errorIn =='none') document.getElementById("inputForm").submit();
  	else {
  		//hide all the error boxes 
  		//and show only the relevant one
  		var elements = document.getElementsByClassName("alert-danger"),
  		i = elements.length;
  		
  		while(i--){
  			elements[i].classList.add("hideBox");  			
  		}
  		

  		var id = errorIn + "Error";
  		document.getElementById(id).classList.remove("hideBox")
  		
  	}//end case incorrect input
  }	


	//function to add more rows when the user clicks
	//on add more in extra curricular activities section
  var rowCount = 1;
    function addMore() {
    	rowCount++;
    	table = document.getElementById("eca");
    	var newRow = table.insertRow(-1);

		var cell1 = newRow.insertCell(0);
		var cell2 = newRow.insertCell(1);
		var cell3 = newRow.insertCell(2);

		cell1.innerHTML = "<td><input class=\"form-control\" type=\"text\" name=\"activity"+(rowCount)+"\"/></td>";
		cell2.innerHTML = "<td><input class=\"form-control\" type=\"text\" name=\"yearActivity"+(rowCount)+"\"/></td>";
		cell3.innerHTML = "<td><input class=\"form-control\" type=\"text\" name=\"resultActivity"+(rowCount)+"\"/></td>";		
    }
  </script>

<style type="text/css">
	.hideBox{
		display: none;
	}
</style>
</head>

<body>
<div class="container" style="margin-top:2em;">
	<h1 class="text-info">Please fill up your details below</h1>
	
	<form id="inputForm" role="form" action= "{% url 'save' %} " method= "post" onsubmit="event.preventDefault();validateInput();">
	
	{% csrf_token %}
	
	<div class="form-group"> 
	<label for="name">
			Name :
		</label>
		<input class="form-control" id="name" type="text"  name= "name" maxlength="50" /></br>
		<div id ="nameError" class="hideBox alert alert-danger" role="alert">Please fill name correctly</div>
	</div>

	<div class="form-group"> 			
		    Gender :
		<label for="male">
		<input id="male" type="radio"  name= "gender" value="male" />
		Male
		</label>
		
		<label for="female">
		<input id="female" type="radio"  name= "gender" value="female" />
		Female
		</label></br>
		<div id ="genderError" class="hideBox alert alert-danger" role="alert">Please choose gender </div>
	</div>
	
	<div class="form-group"> 	
		<label for="age">
			Age :
		</label>
		<input class="form-control" id="age" type="tel"  name= "age" /></br>
		<div id ="ageError" class="hideBox alert alert-danger" role="alert">Please fill age correctly</div>
	</div>	

	<div class="form-group"> 	
		<label for="mobile">
			Mobile Number :
		</label>
		<div class="input-group"> 
         <span class="input-group-addon">+91</span> 
         <input class="form-control" id="mobile" type="tel"  name= "mobile" />
         </div>
         </br>
		<div id ="mobileError" class="hideBox alert alert-danger" role="alert">Please fill mobile number correctly</div>
    </div>	
	
	<div class="form-group"> 	
		<label for="email">
			Email :
		</label>
		<input class="form-control" id="email" type="email"  name= "email" /></br>
		<div id ="emailError" class="hideBox alert alert-danger" role="alert">Please fill email correctly</div>
	</div>	
	
	<div class="form-group"> 		
		<label for="address">
			Address :
		</label>
		<textarea class="form-control" id="address" name= "address" ></textarea></br>
		<div id ="addressError" class="hideBox alert alert-danger" role="alert">Please fill address correctly</div>
	</div>	
	
	<div class="form-group"> 	

		<fieldset>
		<div class="table-responsive"> 
			<table class="table table-bordered table-hover table-responsive">
				<caption>Education</caption>
				<thead>
					<th></th>
					<th>Board/College</th>
					<th>Stream/Course</th>
					<th>Marks/CGPA</th>
					<th>Year</th>
				</thead>
				<tr>
					<td>Std X</td>
					<td><input id="boardX" class="form-control" type="text" name="XthBoard"/></td>
					<td><input id="streamX" class="form-control" type="text" name="XthStream" /></td>
					<td><input class="form-control" type="tel" name="XthMarks" /></td>
					<td><input class="form-control" type="text" name="XthYear" /></td>
				</tr>
				<tr>
					<td>Std XII</td>
					<td><input id="boardXII" class="form-control" type="text" name="XIIthBoard"/></td>
					<td><input id="streamXII" class="form-control" type="text" name="XIIthStream" /></td>
					<td><input class="form-control" type="tel" name="XIIthMarks" /></td>
					<td><input class="form-control" type="text" name="XIIthYear" /></td>
				</tr>
				<tr>
					<td>Graduation</td>
					<td><input id="college" class="form-control" type="text" name="College"/></td>
					<td><input id="course" class="form-control" type="text" name="Course" /></td>
					<td><input class="form-control" type="tel" name="CGPA" /></td>
					<td><input class="form-control" type="text" name="GradYear" /></td>
				</tr>
			</table>
			</div>
			</div>
		</fieldset>

		<div id ="boardXError" class="hideBox alert alert-danger" role="alert">Please fill Std X board correctly</div>

		<div id ="streamXError" class="hideBox alert alert-danger" role="alert">Please fill Std X stream correctly</div>

		<div id ="boardXIIError" class="hideBox alert alert-danger" role="alert">Please fill Std XII board correctly</div>

		<div id ="streamXIIError" class="hideBox alert alert-danger" role="alert">Please Std XII stream correctly</div>
		
		<div id ="collegeError" class="hideBox alert alert-danger" role="alert">Please fill college name correctly</div>

		<div id ="courseError" class="hideBox alert alert-danger" role="alert">Please fill graduation course correctly</div>

	
	<div class="form-group"> 		
		<fieldset>
			<div class="table-responsive"> 
			<table id="eca" class="table table-bordered table-hover table-responsive">
				<caption>Extra curricular activities </caption>
				<thead>
					<th>Activity</th>
					<th>Year</th>
					<th>Award/Paticipation</th>
				</thead>
				<tr>
					<td><input class="form-control" type="text" name="activity1"/></td>
					<td><input class="form-control" type="text" name="yearActivity1"/></td>
					<td><input class="form-control" type="text" name="resultActivity1"/></td>
				</tr>
			</table>
				<button  class="btn btn-success" onClick="addMore(); return false;">+Add more</button>
				</div>
		</fieldset>
		</div> 	
		<button type="submit" class="btn btn-primary btn-block">Submit</button>
		<!-- <input class="form-control" type= "submit" value= "Done" /> -->
	</form>


	</div>
	<script src="/static/admitForm/js/jquery-3.1.1.min.js"></script>
	<script src="/static/admitForm/js/bootstrap.min.js"></script>
</body>
</html>