<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Demo Django project</title>
	<link href="/static/outliner/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/outliner/favicon.ico" rel="icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width,  
                                     initial-scale=1.0,  
                                     maximum-scale=1.0,  
                                     user-scalable=no"> 
    <meta name="author" content="Akash Gaurav">


</head>
<body>
	<div class="container">
		<div class="row" style="position: relative; margin-top: 5rem">
			<div class="col-lg-4" style="color: gray;">Bre>ad>Crumb</div>
			<div class="col-lg-4" style="color: gray;text-align: center;">
				<p>Created : date</p>
				<p>Modified : date</p>
			</div>
			<div style="float:right">
			  <button class="btn btn-danger">Delete</button>
            </div>
		</div>
		<div class="row" style="text-align: center;">
			<strong><h1>Heading</h1></strong>
		</div>
		<div class="row" style="word-wrap: break-word;
   width: auto;">
			<p>TextTextTextTextText TextTextTex  tTextText TextTextTextTextTextTextTextTextTextTex tTextTextTextTex  tTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTe  xtTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTe xtTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextText</p>
			
		</div>
		<div class="row">
			<div class="panel panel-default">
			  <table class="table table-bordered table-hover table-responsive">
			    <tr><td>
			    	Cras justo odio
			    	<div style="float:right">
				    	<button class="btn btn-sm btn-danger">X</button>
				    	</div>
			    </tr></td>
			    <tr><td>
			    	Cras justo odio
			    	<div style="float:right">
				    	<button class="btn btn-sm btn-danger">X</button>
				    	</div>
			    </tr></td>
			    <tr><td>
			    	Cras justo odio
			    	<div style="float:right">
				    	<button class="btn btn-sm btn-danger">X</button>
				    	</div>
			    </tr></td>
			    </table>
			</div>
		</div>
		<div class="row">
			<div style="float:right">
			  <button class="btn btn-success">Add More</button>
            </div>
		</div>
	
	</div>
	<script src="/static/outliner/js/jquery-3.1.1.min.js"></script>
	<script src="/static/outliner/js/bootstrap.min.js"></script>

</body>
</html>